<div class="background" *ngIf="!componentClosed" (click)="closeComponent()">
  <div class="add-image-container" (click)="$event.stopPropagation()">
    <div
      class="dropzone"
      *ngIf="!selectedFile"
      [class.dragged-over]="draggedOver"
      (dragover)="onDragOver($event)"
      (dragleave)="onDragLeave()"
      (drop)="onDrop($event)"
      (click)="triggerFileInput()"
    >
      <div class="dropzone-content">
        <div>
          <img ngSrc="assets/images/drop-image-gray.svg" alt="Upload Icon" width="500" height="500" (dragstart)="disableDrag($event)"/>
        </div>
        <div class="dropzone-text">
          <p>Drop your image here</p>
        </div>
      </div>
    </div>
    <input
      class="hidden-input"
      type="file"
      accept="image/*"
      #fileInput
      (change)="onFileSelected($event)"
    />
    <form class="form" *ngIf="selectedFile">
      <div class="info-grid">
        <div>
          <!--<label class="label" for="name">Name</label>-->
          <input type="text" id="name" class="input-field" [(ngModel)]="name" name="username" placeholder="Name" required />
        </div>
        <div>
          <select class="selectors" id="visibility" [(ngModel)]="visibility">
            <option value="Public">Public</option>
            <option value="Not-Listed">Not-Listed</option>
            <option value="Private">Private</option>
          </select>
        </div>
        <div>
          <!--<label class="label" for="width">Width</label>-->
          <input type="number" id="width" class="input-field" [(ngModel)]="width" name="width" placeholder="width" disabled required />
        </div>
        <div>
          <!--<label class="label" for="height">Make</label>-->
          <input type="text" id="make" class="input-field" [(ngModel)]="make" name="make" placeholder="Make" disabled/>
        </div>
        <div>
          <!--<label class="label" for="height">Height</label>-->
          <input type="number" id="height" class="input-field" [(ngModel)]="height" name="height" placeholder="height" disabled required />
        </div>
        <div>
          <!--<label class="label" for="model">Model</label>-->
          <input type="text" id="model" class="input-field" [(ngModel)]="model" name="model" placeholder="Model" disabled/>
        </div>
        <div>
          <!--<label class="label" for="size">Size</label>-->
          <input type="number" id="size" class="input-field" [(ngModel)]="size" name="size" placeholder="size" disabled required />
        </div>
        <div>
          <!--<label class="label" for="lens-model">Lens Model</label>-->
          <input type="text" id="lens-model" class="input-field" [(ngModel)]="lensModel" name="lens-model" placeholder="Lens Model" disabled/>
        </div>
        <div>
          <!--<label class="label" for="upload-date">Upload Date</label>-->
          <input type="datetime-local" id="upload-date" class="input-field" [(ngModel)]="uploadDate" name="upload-date" placeholder="Upload Date" disabled required />
        </div>
        <div>
          <!--<label class="label" for="exposure-time">Exposure Time</label>-->
          <input type="text" id="exposure-time" class="input-field" [(ngModel)]="exposureTime" name="exposure-time" placeholder="Exposure Time" disabled/>
        </div>
        <div>
          <!--<label class="label" for="creation-date">Creation Date</label>-->
          <input type="datetime-local" id="creation-date" class="input-field" [(ngModel)]="creationDate" name="creation-date" placeholder="Creation Date" disabled/>
        </div>
        <div>
          <!--<label class="label" for="iso">ISO</label>-->
          <input type="text" id="iso" class="input-field" [(ngModel)]="iso" name="iso" placeholder="ISO" />
        </div>
        <div>
          <!--<label class="label" for="bits-per-sample">Bits Per Sample</label>-->
          <input type="text" id="bits-per-sample" class="input-field" [(ngModel)]="bitsPerSample" name="bits-per-sample" placeholder="Bits Per Sample" disabled/>
        </div>
        <div>
          <!--<label class="label" for="aperture">Aperture</label>-->
          <input type="text" id="aperture" class="input-field" [(ngModel)]="fNumber" name="aperture" placeholder="Aperture" disabled/>
        </div>
        <div>
          <!--<label class="label" for="color-space">Color Space</label>-->
          <input type="text" id="color-space" class="input-field" [(ngModel)]="colorSpace" name="color-space" placeholder="Color Space" disabled/>
        </div>
        <div>
          <!--<label class="label" for="focal-length">Focal Length</label>-->
          <input type="text" id="focal-length" class="input-field" [(ngModel)]="focalLength" name="focal-length" placeholder="Focal Length" disabled/>
        </div>
        <div>
          <!--<label class="label" for="white-balance">White Balance</label>-->
          <input type="text" id="white-balance" class="input-field" [(ngModel)]="whiteBalance" name="white-balance" placeholder="White Balance" disabled/>
        </div>
        <div>
          <!--<label class="label" for="focal-length-equivalent">Focal Length Equivalent</label>-->
          <input type="text" id="focal-length-equivalent" class="input-field" [(ngModel)]="focalLengthEquivalent" name="focal-length-equivalent" placeholder="Focal Length Equivalent" disabled/>
        </div>
      </div>
      <div class="preview-submit-container">
        <div class="image-preview-container">
          <img *ngIf="previewSrc" [src]="previewSrc" class="image-preview" alt="Image Preview">
          <p *ngIf="!previewSrc">Preview not available</p>
        </div>
        <div class="folder-selector-container">
          <select class="selectors" id="folder" [(ngModel)]="folder">
            <option
              *ngFor="let folder of folders"
              [value]="folder.folderId">
              {{ folder.name }}
            </option>
          </select>
        </div>
        <button type="submit" class="submit-button" (click)="onSubmit()">Submit</button>
      </div>
    </form>
  </div>
</div>
