.items-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  width: fit-content;
  margin: auto;
}

.folders-grid-items {
  width: fit-content;
}

.top-bar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.searchbar-div {
  width: 80%;
  height: 40px;
  max-width: 1000px;
  margin: 20px;
}

.folder-image-toggle-switch-div {
  filter: drop-shadow( 5px 5px 3px rgba(0, 0, 0, 0.5));
}

.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 40px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #909090;
  -webkit-transition: .3s;
  transition: .3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  left: 5px;
  bottom: 5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  background-image: url('../../../assets/icons/image-gray.svg');
  background-position: center;
  background-size: 24px;
  background-repeat: no-repeat;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
  background-image: url('../../../assets/icons/folder-gray.svg');
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.account-sidebar-container {
  position: fixed;
  z-index: 1000;
}
