<div class="filter-container" [ngClass]="{'collapsed': !isFilterOpen}">
  <div class="selectors-container">
    <label for="visibility"></label>
    <select class="selectors" id="visibility" [(ngModel)]="selectedVisibility" (change)="onFilterChange()">
      <option value="">Show all items</option>
      <option value="public">Show public items</option>
      <option value="not-listed">Show not-listed items</option>
      <option value="private">Show private items</option>
      <option value="owned">Show my items</option>
    </select>
  </div>
  <label for="download-range-container">Download-Range:</label>
  <div id="download-range-container">
    <input type="number" step="1" min="0" max="99999" id="min-downloads" class="range-inputs" [(ngModel)]="minDownloads" name="min-downloads" placeholder="Min-Downloads">
    <input type="number" step="1" min="0" max="99999" id="max-downloads" class="range-inputs" [(ngModel)]="maxDownloads" name="max-downloads" placeholder="Max-Downloads">
  </div>
</div>

<div class="toggle-button" [ngClass]="{'expanded': isFilterOpen, 'collapsed': !isFilterOpen}" (click)="toggleFilter()">
  <img ngSrc="assets/icons/filter-gray.svg" alt="" height="32" width="32">
</div>
