<app-navbar>
</app-navbar>
<div *ngIf="singleImage != undefined">
  <div id="imageDiv">
    <img id="image" [ngSrc]="singleImage.source" alt=""  [height]="singleImage.height" [width]="singleImage.width">
  </div>
  <div>
    <table id="imageInfoTable">
      <tr>
        <td class="imageInfoTableItems">ID: {{singleImage.imageId}}</td>
        <td class="imageInfoTableItems">Source: {{singleImage.source}}</td>
      </tr>
      <tr>
        <td class="imageInfoTableItems">Height: {{singleImage.height}}</td>
        <td class="imageInfoTableItems">Width: {{singleImage.width}}</td>
      </tr>
      <tr>
        <td class="imageInfoTableItems">Downloads: {{singleImage.downloads}}</td>
        <td class="imageInfoTableItems">Size: {{singleImage.size}}B</td>
      </tr>
      <tr>
        <td>
          <a [href]="singleImage.source" download="heedix-gallery-{{singleImage.imageId}}.jpg">
            <Button id="downloadButton">Download</Button>
          </a>
        </td>
        <td><Button id="shareButton" (click)="copyLink()">Share</Button></td>
      </tr>
    </table>
  </div>
</div>

