<div>
  <app-add-image [componentClosed] = addItemClosed (stateChanged)="addItemShownChange($event)" (imageAdded)="reFetchImages()"></app-add-image>
</div>
<div class="top-bar-container">
  <div class="searchbar-div">
    <app-searchbar (searchChange)="onSearch($event)"></app-searchbar>
  </div>
  <div class="folder-image-toggle-switch-div">
    <label class="switch">
      <input type="checkbox" [checked]="folderViewShown" (change)="onToggleFolderImage()">
      <span class="slider round"></span>
    </label>
  </div>
</div>
<div class="items-grid" [ngClass]="{
        'single-item':  imageCount == 1,
        'two-items': imageCount == 2}">
  @if (isEmailVerified) {
    <div class="grid-items" (click)="openAddImage()">
      @if (folderViewShown) {
        <app-add-image-folder-card [itemType] = "'folder'"></app-add-image-folder-card>
      } @else {
        <app-add-image-folder-card [itemType] = "'image'"></app-add-image-folder-card>
      }
    </div>
  }
  @for (item of filteredItems ; track $index) {
    <div class="grid-items">
      @if (folderViewShown) {
        <app-folder-card [folder] = "item"></app-folder-card>
      } @else {
        <app-image-card [image] = "item"></app-image-card>
      }
    </div>
  }
</div>
