<div>
  <app-add-image [componentClosed] = addItemClosed (stateChanged)="addItemShownChange($event)" (imageAdded)="reFetchImages()"></app-add-image>
</div>
<div class="top-bar-container">
  <div class="searchbar-div">
    <app-searchbar (searchChange)="onSearch($event)"></app-searchbar>
  </div>
  <div class="folder-image-toggle-switch-div">
    <label class="switch">
      <input type="checkbox" [checked]="folderViewShown" (change)="onToggleFolderImage()">
      <span class="slider round"></span>
    </label>
  </div>
</div>
<div class="items-grid" [ngClass]="{
        'single-item':  imageCount == 1,
        'two-items': imageCount == 2}">
  <div class="grid-items" *ngIf="isEmailVerified" (click)="openAddImage()">
    <app-add-image-folder-card *ngIf="folderViewShown" [itemType] = "'folder'"></app-add-image-folder-card>
    <app-add-image-folder-card *ngIf="!folderViewShown" [itemType] = "'image'"></app-add-image-folder-card>
  </div>
  <div class="grid-items" *ngFor="let item of filteredItems">
    <app-folder-card *ngIf="folderViewShown" [folder] = "item"></app-folder-card>
    <app-image-card *ngIf="!folderViewShown" [image] = "item"></app-image-card>
  </div>
</div>
