<div id="navbarGrid">
  <div>
    <a class="navButtons" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
      <img id="heedixLogo" ngSrc="../../../assets/images/heedix.png" style="height: 100px; width: 200px" alt="Heedix" height="4000" width="8000" priority>
    </a>
  </div>
  <div>
  </div>
  <div id="loginBackground">
    <a class="" routerLink="/settings" routerLinkActive="active" ariaCurrentWhenActive="page">
      <img id="loginIcon" ngSrc="../../../assets/icons/profile.png" alt="" style="width: 46px; height: 46px" width="64" height="64">
    </a>
  </div>
</div>
