<div id="head">
  <div>
    <img id="heedixLogo" ngSrc="../../../assets/images/heedix.png" style="height: 100px; width: 200px" alt="Heedix" height="4000" width="8000">
  </div>
  <div>
    <nav>
      <a class="navButtons" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
      <a class="" routerLink="/settings-component" routerLinkActive="active" ariaCurrentWhenActive="page">Settings</a>
    </nav>
  </div>
  <div id="loginBackground">
    <img id="loginIcon" ngSrc="../../../assets/icons/profile.png" alt="" style="width: 46px; height: 46px" width="64" height="64">
  </div>
</div>
