* {
  box-sizing: border-box;
}

#navbarGrid {
  /*display: grid;
  grid-template-columns: 20% auto 10%;*/
  background-color: #212121;
  position: absolute;
  top: 0;
  /*left: 0;*/
  width: 100%;
}

#heedixLogo {
  width: 200px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5px;
  filter: drop-shadow( 5px 5px 3px rgba(0, 0, 0, 0.5));
}

.navButtons {
  margin: auto;
  width: 200px;
  height: 50px;
  background-color: transparent;
}

#loginIcon {
  position: absolute;
  margin: 9px;
}

#loginBackground {
  position: absolute;
  background-color: #707070;
  right: 18px;
  top: 18px;
  width: 64px;
  height: 64px;
  filter: drop-shadow( 5px 5px 3px rgba(0, 0, 0, 0.5));
}

div {
  float: left;
}
