<app-sidebar id="sidebar"></app-sidebar>
<app-account-sidebar></app-account-sidebar>
<div id="homeComponentGrid">
  <div id="landingViewContainer">
    <div id="heedixLogoDiv" class="slide-top"></div>
    <h2 class="slide-top">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</h2>
    <h2 class="slide-top">sed diam nonumy eirmod tempor invidunt</h2>
  </div>
  <div id="imageGrid">
    <app-images
      *ngFor="let imageInterface of imageInterfaceList"
      [imageInterface] = "imageInterface">
    </app-images>
  </div>
</div>
<app-upload></app-upload>
