#homeComponentGrid {
  display: grid;
  grid-template-columns: auto;
}

#imageGrid {
  width: fit-content;
  margin: 120px auto 70px;
}

@media (min-width: 320px) {
  #imageGrid {
    -moz-column-count: 1;
    -webkit-column-count:  1;
    column-count: 1;
    width: 320px;
  }
}

@media (min-width: 640px) {
  #imageGrid {
    -moz-column-count: 1;
    -webkit-column-count:  1;
    column-count: 2;
    width: 640px;
  }
}

@media (min-width: 960px) {
  #imageGrid {
    -moz-column-count: 1;
    -webkit-column-count:  1;
    column-count: 3;
    width: 960px;
  }
}
