#sidebar {
  position: fixed;
  z-index: 900;
}
#mainBackgroundImage {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

#homeComponentGrid {
  display: grid;
  grid-template-columns: auto;
}

#landingViewContainer {
  height: 100vh;
  width: 100%;
  background-image: url("/assets/images/mainBackgroundImage.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  align-content: center;
  text-align: center;
  color: #FFF;
}

#heedixLogoDiv {
  width: 80vw;
  height: 40vw;
  max-width: 600px;
  max-height: 300px;
  margin: auto;
  background-image: url("/assets/images/heedix.png");
  background-size: cover;
}

#heedixLogo {
  width: 80%;
  height: auto;
  max-width: 600px;
}

@media (min-width: 360px) {
  #imageGrid {
    margin: 50px auto;
    -moz-column-count: 1;
    -webkit-column-count:  1;
    column-count: 1;
    width: 320px;
  }
}

@media (min-width: 680px) {
  #imageGrid {
    margin: 75px auto;
    -moz-column-count: 2;
    -webkit-column-count:  2;
    column-count: 2;
    width: 640px;
  }
}

@media (min-width: 1000px) {
  #imageGrid {
    margin: 100px auto;
    -moz-column-count: 3;
    -webkit-column-count:  3;
    column-count: 3;
    width: 960px;
  }
}

@media (min-width: 1330px) {
  #imageGrid {
    -moz-column-count: 4;
    -webkit-column-count:  4;
    column-count: 4;
    width: 1280px;
  }
}

@media (min-width: 1650px) {
  #imageGrid {
    -moz-column-count: 5;
    -webkit-column-count:  5;
    column-count: 5;
    width: 1600px;
  }
}

.slide-top {
  -webkit-animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    transform: translateY(40vh);
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}


@keyframes slide-in-bottom {
  0% {
    transform: translateY(40vh);
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
