<div class="card-container">
  <div class="image-thumbnail-container">
    <img *ngIf="signedUrl" class="image-thumbnail" ngSrc="{{signedUrl}}" width="300" height="400" alt=""/>
  </div>
  <div class="image-icon-container">
    <img class="image-icon" ngSrc="/assets/icons/image-gray.svg" width="42" height="42" alt=""/>
  </div>
  <table class="image-info-table">
    <tr>
      <td class="table-items table-image-name" colspan="2">{{image.name}}</td>
    </tr>
    <tr>
      <td class="table-items table-left">{{image.username}}</td>
      <td class="table-items table-right"> Images</td>
    </tr>
    <tr>
      <td class="table-items table-left">Downloads: {{image.downloads}}</td>
      <td class="table-items table-right">{{formatedDate}}</td>
    </tr>
    <tr>
      <td class="table-items visibility table-left" [ngClass]="{
        'public':  image.visibility === 'Public',
        'not-listed': image.visibility === 'Not-Listed',
        'private': image.visibility === 'Private'}">
        {{ image.visibility }}
      </td>
    </tr>
  </table>
</div>
