#head {
  background-color: #212121;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#heedixLogo {
  width: 200px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5px;
}

#imageGrid {
  width: fit-content;
  max-width: 960px;
  margin: 120px auto 70px;
  -moz-column-count: 3;
  -webkit-column-count:  3;
  column-count: 3;
}

#foot {
  background-color: #212121;

  bottom: 0;
  left: 0;
  width: 100%;
}

#foot div {
  float: left;
}

#footListContainer {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.footLists {
  list-style-type: none;
  color: #949494;
}

a {
  color: #949494;
  text-decoration: none;
}
