h1 {
  color: #FFF;
  font-size: 22px;
  font-family: sans-serif;
  font-weight: normal;
}

.imageEditCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  border-radius: 12px;
  background-color: #606060;
  height: 100px;
  margin: 20px auto auto;
  padding: 10px;
  filter: drop-shadow( 5px 5px 3px rgba(0, 0, 0, 0.5));
}

@media (min-width: 1000px) {
  #imageEditCardImageDiv {
    width: 25%;
    max-width: 200px;
  }

  .imageEditCardImages {
    border-radius: 7px;
  }

  .imageEditInfoDivs {
    width: 20%;
  }

  #editAndDeleteIconsDiv {

  }

  #editIcon {

  }
}
/*#imageEditCardImageDiv {
  width: 200px;
}

.imageEditCardImages {
  margin: 10px 10px auto;
}

.imageEditInfoDivs {
  margin: auto;
}

#editAndDeleteIconsDiv {
  margin: auto 20px auto;
}

#editIcon {
  margin-right: 10px;
}
*/
