<div class="sidebar" [ngClass]="{'collapsed': isSidebarCollapsed}">
  <ul>
    <li><a href="#"><img class="list-icons" ngSrc="assets/icons/house-gray.svg" alt="" height="32" width="32"> Home</a></li>
    <hr class="list-spacer">
    <li><a href="/login">Login</a></li>
  </ul>
</div>

<div class="toggle-button" [ngClass]="{'collapsed': isSidebarCollapsed, 'expanded': !isSidebarCollapsed}" (click)="toggleSidebar()">
  <img ngSrc="assets/icons/arrow-gray.svg" alt="" height="32" width="32">
</div>

<div class="main-content" [ngClass]="{'expanded': !isSidebarCollapsed}">
  <router-outlet></router-outlet>
</div>
