<div class="notification">
  <table class="table">
    <tr class="notification-header-row">
      <td class="notification-icon-item"><img ngSrc="assets/icons/question-mark-gray.svg" alt="" width="32" height="32" class="table-left table-vert-align-middle"></td>
      <td class="table-left table-vert-align-middle notification-type" [ngClass]="{
        'error': notificationType === 'error',
        'warning': notificationType === 'warning',
        'info': notificationType === 'info',
        'success': notificationType === 'success'}">
        {{notificationType}}</td>
      <td *ngIf="expirationTime < 0" class="table-right table-vert-align-middle"><img ngSrc="assets/icons/x-gray.svg" height="32" width="32" alt=""></td>
      <td *ngIf="expirationTime >= 0" class="table-right table-vert-align-middle">{{expirationTime}}</td>
    </tr>
    <tr class="notification-content-row">
      <td class="notification-content" colspan="3">{{notificationContent}}</td>
    </tr>
  </table>
</div>
